body {
    background-color: aqua; /* cor de fundo da página */
     color: black; /* cor da escrita */
     font-family: "Bodoni Moda", sans-serif; /*Estilo da letra(fonte) */
     margin: 0px;
     margin-bottom: 100px;
}

header {
    border: solid 2px rgb(0, 0, 0);
    font-size: 32px;
    padding: 10px;
    color: black;   
}

.chamada {
    background-color: #ad5351; /* Cor escolhida */
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 30px;            /* tamanho da fonte */
    text-align: center;         /* centralizado */
    text-transform: uppercase;  /* letras maiúsculas */
}

p{
    font-size: 16px;
    color: aliceblue;
}
    
.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}
    
.categoria-videos {
    display: flex;
    overflow: auto;
    gap: 10px;
}

.categoria-videos img {
    opacity: 8,5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1,0;
    border: 1px solid green;
}

.categoria h2 {
    color: black;
}